/data
/interm_data
__pycache__
.ipynb_checkpoints
.virtual_documents
/images
/utils/__init__.py
/utils/mv.py
.vscode
*.pyc
.DS_Store
/trained_params
*.h5
preprocess_data_explanation.ipynb
Dataset_explanation.ipynb
/lib

## Might remove the below later
multi_gpu_train.py
test_and_generate_H5.py
/utils/viz_utils.py